.AboutBanner {
    display: grid;
    place-items: center;
    border-bottom: 3px solid red;
    width: auto;
    height: 300px;
    background-image: url('https://wallpapercave.com/wp/Ie9ybx8.jpg');
    background-size: cover;
}
.AboutBanner h1 {
    margin-top: 1rem;
    font-size: 190px;
    text-transform: uppercase;
    letter-spacing: 2.3rem;
    margin: 20px auto;
}

@media screen and (min-width: 360px) and (orientation:portrait){
    .AboutBanner {
        width: auto;
    }
    .AboutBanner h1 {
        width: auto;
        font-size: 80px;
        letter-spacing: 1rem;
        text-align: center;
    }
}
@media screen and (max-width: 3440px) and (orientation:landscape){
    .AboutBanner {
        width: auto;
    }
    .AboutBanner h1 {
        font-size: 230px;
        letter-spacing: 1rem;
        text-align: center;
    }
}

.First-Dialogue {
    height: 500px;
    width: 460px;
    text-align: center;
    margin-top: 6rem;
    margin-left: 4rem;
    border-top: 3px solid violet;
    border-right: 3px solid violet;
    border-top-right-radius: 75px;
    padding-right: 2rem;
    z-index: 2;
}
.First-Dialogue h1 {
    font-size: 45px;
}
.First-Dialogue p {
    font-size: 20px;
    z-index: 2;
}

@media screen and (min-width: 360px) and (orientation:portrait){
    .First-Dialogue{
        width: auto;
        border-left: 3px solid violet;
        border-top-left-radius: 75px;
        padding-left: 2rem;
        margin: 0 1rem;
        margin-top: 2rem;
    }
}

.Second-Dialogue {
    height: 500px;
    width: 460px;
    margin-left: 47rem;
    margin-top: 8rem;
    text-align: center;
    border-top: 3px solid crimson;
    border-left: 3px solid red;
    border-top-left-radius: 75px;
    padding-left: 2rem;
}
.Second-Dialogue h1 {
    font-size: 45px;
}
.Second-Dialogue p {
    font-size: 20px;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .Second-Dialogue{
        width: auto;
        border-left: 3px solid red;
        border-right: 3px solid red;
        border-top-left-radius: 75px;
        border-top-right-radius: 75px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0 1rem;
        margin-top: 34rem;
    }
}

.Iconic {
    height: 330px;
    width: 1200px;
    border: 3px solid red;
    border-radius: 35px;
    position: relative;
    display: flex;
    margin: 2rem;
    left: 2%;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .Iconic {
        width: 300px;
        height: 500px;
    }
}
@media screen and (min-width: 820px) and (orientation:portrait){
    .Iconic {
        width: auto;
        height: 500px;
    }
}
.first{
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
    padding-left: 2rem;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .first {
        font-size: 20px;
        text-align: left;
    }
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .Info {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 140px;
        height: 100px;
    }
}
.second{
    font-size: 35px;
    font-style: italic;
    font-weight: 600;
    margin-left: 6rem;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .second {
        font-size: 20px;
        text-align: right;
        margin-top: 16rem;
        margin-left: 8rem;
    }
}

.FirstImage {
    height: 300px;
    width: 535px;
    border-radius: 25px;
    float: left;
    margin-left: 35rem;
    margin-top: -30.5rem;
    background-image: url(https://wallpaperaccess.com/full/2090977.jpg);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-size: cover;
    background-repeat: no-repeat;
}
@media  screen and (min-width: 360px) and (orientation:portrait){
    .FirstImage{
        margin-left: 0;
        height: 169px;
        width: 300px;
        margin-top: 2rem;
        background-size: contain;
    }
}

.SecondImage {
    height: 300px;
    width: 535px;
    border-radius: 25px;
    float: left;
    margin-left: 40rem;
    margin-top: -20.5rem;
    background-image: url(https://legendary-digital-network-assets.s3.amazonaws.com/geekandsundry/wp-content/uploads/2015/04/Broken-Shield.jpg);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .SecondImage{
        margin-left: 0;
        height: 169px;
        width: 300px;
        margin-top: -2rem;
        background-size: contain;
    }
}
.FourthImage {
    height: 300px;
    width: 535px;
    border-radius: 25px;
    float: left;
    margin-top: -30.5rem;
    margin-left: -39.5rem;
    justify-content: start;
    background-image: url(https://wallpaper.dog/large/17018969.jpg);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .FourthImage {
        margin-left: 0;
        height: 169px;
        width: 300px;
        margin-top: 2rem;
        background-size: contain;
    }
}
.FifthImage {
    height: 300px;
    width: 535px;
    border-radius: 25px;
    float: left;
    margin-top: -20.5rem;
    margin-left: -45rem;
    justify-content: start;
    background-image: url(http://images6.fanpop.com/image/photos/41600000/Stan-Lee-stan-lee-41664377-1600-900.jpg);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .FifthImage {
        margin-left: 0;
        height: 73px;
        width: 300px;
        margin-top: -2rem;
        background-size: contain;
        padding-bottom: 6rem;
    }
}
.CBook {
    height: 240px;
    width: 160px;
    top: 15%;
    position: relative;
    box-shadow: 0 8px 62px 0 rgba(0, 0, 0, 0.37);
}
@media screen and (min-width: 360px) and (orientation:portrait) {
    .CBook {
      top: 0;
      margin-left: 2.7rem;
      width: 120px;
      height: 180px;
      position: absolute;
    }
    .CBook1 {
      background-size: contain;
      margin-left: 10rem;
      margin-top: 2rem;
    }
    .CBook2 {
      background-size: contain;
      margin-top: 17rem;
      margin-left: 0.5rem;
    }
}
.CBook1 {
    left: 3%;
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/maractsminf001_cov_2a89b17b.jpeg?region=0%2C0%2C1844%2C2800);
    background-size: cover;
}
.CBook2 {
    left: 3%;
    background-image: url(http://comicbasics.com/wp-content/uploads/2018/04/Giant-Size-X-Men-1-663x1024.png);
    background-size: cover;
}