.SupportFeedback {
    display: grid;
    place-items: center;
}
.SupportFeedback svg {
    margin-top: 5rem;
}
.SupportFeedback h1 {
    margin-top: 1rem;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 300;
}
.SupportFeedback p {
    margin-top: -2rem;
    text-align: center;
}
.MoreInfo {
    text-align: center;
    display: flex;
    gap: 10px;
    padding: 0 2rem;
}
.MoreInfo p {
    font-size: 18px;
}
.MItitle {
    text-align: center;
    margin: 0;
    gap: 23rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.talent {
    margin-left: 4rem;
}
.MoHeading {
    display: none;
}
@media screen and (min-width: 360px) and (orientation:portrait) {
    .SupportFeedback{
        width: auto;
    }
    .SupportFeedback h1{
        font-size: 37px;
    }
    .SupportFeedback p{
        margin-top: -0.5rem;
        margin: 0 1rem;
        text-align: center;
    }
    .MItitle {
        display: none;
    }
    .talent {
        margin: 15px 80px;
    }
    .MoreInfo {
        flex-direction: column;
        text-align: center;
    }
    .MoHeading {
        display: block;
    }
 }
hr {
    width: 1100px;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    hr {
        width: 300px;
    }
}

.moreLegalInfo {
    margin: 0 4rem;
    display: grid;
    place-items: center;
}
.moreLegalInfo h1 {
    font-size: 38px;
    font-weight: 300;
    text-transform: capitalize;
}
.moreLegalInfo p {
    text-align: center;
    width: 680px;
    font-size: 18px;
}
@media screen and (min-width: 360px) and (orientation:portrait){
    .moreLegalInfo {
        flex-direction: column;
        text-align: center;
    }
    .moreLegalInfo p {
        width: 240px;
        font-size: 20px;
    }
    .moreLegalInfo h1 {
        font-size: 40px;
        width: 280px;
    }
    .NotRealMail{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}
@media screen and (min-width: 412px) and (orientation:portrait){
    .moreLegalInfo {
        flex-direction: column;
        display: grid;
        place-items: center;
        text-align: center;
        margin-left: 2.5rem;
    }
    .moreLegalInfo p {
        width: 340px;
        font-size: 20px;
    }
    .moreLegalInfo h1 {
        font-size: 40px;
        width: 280px;
    }
    .NotRealMail{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}
@media screen and (min-width: 768px) and (orientation:portrait){
    .moreLegalInfo {
        flex-direction: column;
        display: grid;
        place-items: center;
        text-align: center;
    }
    .moreLegalInfo p {
        width: 640px;
        font-size: 20px;
    }
    .moreLegalInfo h1 {
        font-size: 40px;
        width: 280px;
    }
    .NotRealMail{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}

.NotRealMail {
    font-weight: bolder;
    margin-top: 1.5rem;
}
